{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center">Detalles de los mejores muebles!
</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam expedita mollitia quas eius vel nostrum dicta et quisquam hic dolor commodi molestias, autem, provident earum modi amet, velit nam inventore?
Culpa distinctio, recusandae soluta libero iste voluptates nihil ipsum ad ducimus debitis molestias facilis ex eum ab quasi, voluptatum at rem harum reiciendis. Officiis enim atque dolor quibusdam consectetur rerum?
Commodi aliquam, porro voluptas aperiam eius, temporibus cum, deserunt quaerat repellendus culpa iste corrupti perspiciatis similique et? Odit, facere incidunt ad, voluptatem facilis porro qui deleniti illum quasi veritatis quis.
Deserunt similique, esse porro non temporibus, minus molestiae tempora quisquam architecto eius illum mollitia quibusdam tenetur beatae necessitatibus id quo cumque earum aperiam assumenda cum doloremque enim. Deleniti, ad odit.
Voluptatem doloribus soluta quaerat ipsa quidem est obcaecati dolores recusandae, minima dolor blanditiis rem accusantium. Soluta omnis non quae consequuntur nisi cum. Doloribus ullam cupiditate, at vitae porro laboriosam vero.
Debitis veniam perferendis eaque doloremque asperiores dolorum eum quia iusto maiores ex aliquid sunt rem illo at delectus fugiat consectetur laboriosam quasi dolores magni commodi nam explicabo, cumque voluptatem. Impedit.
Esse excepturi ad aut nisi dicta rem sunt aliquid, asperiores nesciunt maxime quaerat fugit doloribus qui architecto repellendus repellat, ipsum, rerum fuga porro in consequatur omnis accusamus magnam? Amet, delectus.
Neque quisquam dolores aliquam ipsum aspernatur. Rem incidunt, itaque iusto, veritatis quidem dolores mollitia accusantium quia ut voluptas perferendis, id magni omnis facilis a. Culpa dicta voluptatum dolorum sit placeat!
Fugit soluta aliquid dignissimos cum necessitatibus quaerat voluptatum dolore, beatae maiores voluptatibus vitae itaque obcaecati at aliquam officiis pariatur, hic iusto modi sint, tenetur error eos nam? Officiis, velit repudiandae!
Laudantium, aperiam. Sequi, fuga doloribus enim dicta quae et id excepturi saepe animi a. Nam, veniam. Unde sapiente qui repellat quaerat dolorum? Fugit nisi illum aliquid nesciunt quis eos temporibus.</p>
{% endblock %}